/*BANNER START*/
.banner{
    height: 703px;
    background: #DCEAF5;
}
.banner .container{
    width: 100%;
    height: 703px;
    display: flex;
}
.bannerText h2{
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    color: #1D3444;
}
.bannerText p{
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
}
.bannerButton{
    display: flex;
    align-items: center;
}
.our{
    display: flex;
    align-items: center;
    border: none;
    font-weight: 600;
    background: #F58A07;
    border-radius: 27px;
    padding: 1px 30px 1px 30px;
}
#our{
    color: #FFFFFF;
}
.all{
    color: #1D3444;
    line-height: 106.5%;
    font-weight: 600;
    margin-left: 40px;
}
.text{
    color:#39414980;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}
.icon{
    display: flex;
    justify-content: space-between;
}
.icon1{
    display: flex;
    align-items: center;
}
.bannerImg{
    max-width: 747px;
    height: 618px;
    display: flex;
    align-self: flex-end;
}
/*SECTION 1 START*/
.sectionHelp{
    height: 933px;
    padding-top: 50px;
}
.sctHelp-title{
    max-width: 735px;
}
.sctHelp{
    display: flex;
    justify-content: space-between;
}
.sectionHelp h2{
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    color: #1D3444;
}
.sectionHelp p{
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
}.card img{
    border-radius: 20px;
    width: 400px;
    height: 241px;
}
.card h2{
    font-weight: 500;
    font-size: 24px;
    line-height: 106.5%;
    color: #0D1317;
}
.card p{
    width: 399px;
    height: 84px;
    font-weight: 500;
    line-height: 28px;
    color: #5B5B5B;
}
.sctHelp-P{
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 106.5%;
    color: #F58A07;
}
.sctHelp-P::after{
    position: absolute;
    left: 115px;
    content: url(./images/Icon.svg);
}
/*SECTION 2 START*/
.sctFeaures{
    height: 665px;
    background: #EDF7FF;
}
.sctFeaures h2{
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #0D1317;
}
.sctFeaures p{
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #1D3444;
}
.sctFeaures-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0 50px 0;
}
.sctFeaures-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card1{
    width: 401px;
    height: 277px;
    background: #FFFFFF;
    border-radius: 20px;
    padding: 25px;
}
/*SECTION 3 START*/
.sctAbout{
    height: 836px;
    background: white;
    padding: 50px 0 50px 0;
}
.sctAbout-left{
    display: flex;
    justify-content: space-between;
}
.leftSlide h2{
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    color: #0D1317;
}
.leftSlide p{
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
}
.bottom{
    display: flex;
    justify-content: space-between;
}
.middle .text{
    font-weight: 600;
    font-size: 24px;
    line-height: 106.5%;
    color: #0D1317;
}
.middle p{
    font-weight: 500;
    line-height: 28px;
    color: #5B5B5B;
}
.middle h3{
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: #F58A07;
    font-family: 'Inter', sans-serif;
}
.sctAbout-right img{
    border-radius: 20px;
}
.sctAbout-right::before{
    position: absolute;
    mix-blend-mode: multiply;
    content: url(./images/Orange.svg);
    border:solid 0 #F58A07;
    border-radius: 20px 0 0 20px;
}
/*SECTION 4 START*/
.sctService{
    height: 800px;
}
.sctService .container{
    height: 682px;
    background: #EDF7FF;
    border-radius: 20px;
    padding: 50px 0 50px 0;
}
.service{
    display: flex;
    justify-content: space-around;
}
.ser-button{
    background: #FFFFFF;
    color: #F58A07;
    border: solid 0 #F58A07;
    border: solid 0 #FFFFFF;
    border-radius: 31px;
    padding: 10px 17px 10px 17px;
}
.buttonSame{
    padding: 10px 17px 10px 17px;
    color: rgba(6, 50, 85, 0.3);
    font-weight: 600;
    line-height: 24px;
    border: solid 1px #A8BCCC;
    border-radius: 31px;
    margin-left: 35px;
}
.service-left h2{
    padding-top: 50px;
    width: 572px;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    color: #0D1317;
}
.service-left p{
    width: 510px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
}
.sctService-P{
    font-weight: 500;
    line-height: 106.5%;
    color: #F58A07;
}
.sctService-P::after{
    position: absolute;
    content: url(./images/Icon.svg);
    left: 430px;
    top: 3838px;
}
.service-right img{
    border-radius: 20px;
    padding: 120px 0 0 50px;
    position: relative;
}
.service-right{
    position: relative;
}
.service-right::before{
    position: absolute;
    content: url(./images/Orange1.svg);
    background: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px 0px 0px 20px;
    left: 990px;
    top: 3399px;
    height: 466px;
}
.service-right::after{
    position: absolute;
    content: url(./images/Ribbon.png);
    left: 1446px;
    top: 2713px;
}
/*SECTION 5 START*/
.ctaSection{
    height: 518px;
    display: flex;
}
.ctaSection-right{
    background: #F58A07;
    padding: 70px 50px 200px 90px;
}
.ctaSection-right h3{
    height: 168px;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
}
.ctaSection-right button{
    padding: 13px 17px 13px 17px;
    background: #FFFFFF;
    border-radius: 31px;
    font-weight: 600;
    line-height: 106.5%;
    color: #F58A07;
    border: solid 0 #FFFFFF;
}
/*SECTION 6 START*/
.sctVideo{
    height: 800px;
}
.sctVideo .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 170px;
}
.sctVideo-left h3{
    width: 550px;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    color: #0D1317;
}
.sctVideo-left p{
    width: 550px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
}
.sctVideoCEO{
    display: flex;
}
.sctVideoCEO ul{
    list-style: none;
    font-weight: 500;
    line-height: 171%;
}
.ceo-name{
    font-size: 24px;
    color: #063255;
}
ul li{
    color: #F58A07;
    font-size: 18px;
}
.sctVideo-right a{
    position: absolute;
    top: 5135px;
    left: 1100px;
    font-weight: 600;
    font-size: 18px;
    line-height: 101.8%;
    color:#FFFFFF;  
}
.sctVideo-right::before{
    position: absolute;
    content: url(./images/Circle.png);
    top: 5120px;
    left: 1040px;
}
.sctVideo-right::after{
    position: absolute;
    content: url(./images/play-icon.jpg);
    top: 5136px;
    left: 1062px;
}
/*SECTION 7 START*/
.sctLatest{
    height: 819px;
    background: #DCEAF5;
    padding-top: 50px;
}
.latest{
    display: flex;
    height: 507px;
    justify-content: space-between;
}
.sctLatest h3{
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    color: #0D1317;
}
.card2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    border-radius: 20px 20px 20px 20px;
}
.card2 img{
    height: 230px;
    border-radius: 20px 20px 0px 0px;
}
.card2 h3{
    width: 336px;
    height: 72px;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #0D1317;
}
.card2 p{
    width: 336px;
    height: 84px;
    font-weight: 500;
    line-height: 28px;
    color: #5B5B5B;
}
.card2 a{
    color: #F58A07;
    font-weight: 500;
    line-height: 106.5%;
    margin-right: 250px;
}
.card2 a::before{
    position: absolute;
    content: url(./images/Icon.svg);
    left: 1350px;
}
.card2 a::after{
    position: absolute;
    content: url(./images/Icon.svg);
    left: 470px;
}
.latestP::after{
    position: absolute;
    content: url(./images/Icon.svg);
    left: 920px;
    top: 6012px;
}


